@import './settings/positions';
@import './settings/colours';
@import './settings/sizes';
@import './components/header';
@import './components/footer';
@import './components/main';
@import './components/todos';

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: $body-background-color;
    color: $body-text-color;
}