header {
    background-color: $header-footer-color;
    color: $body-text-color;
    height: 100px;
}

header div {
    padding: 10px;
    text-align: $center-align;
}

header div p {
    margin-top: 6px;
}