form {
    margin-top: 30px;
    text-align: center;
}

form button {
    margin-left: 3px;
}

form input {
    width: 300px;
    height: $form-sizes;
    background-color: grey;
    color: $body-text-color;
    font-weight: bold;
    outline: none;
    padding-left: 5px;
}

form button {
    height: $form-sizes;
    background-color: $header-footer-color;
    color: $body-text-color;
    width: 80px;
    outline: none;
    border: 1px solid $body-text-color;
}

.container {
    max-width: 600px;
}