@mixin todoButtons {
    position: relative;
    color: $body-text-color;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    margin-left: 5px;
}

.update {
    @include todoButtons();
    background-color: blue;
}

.delete {
    @include todoButtons();
    background-color: red;
}

.pleaseMessage {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.todo-container {
    margin: 0 auto;
}

.todo-item {
    background-color: darken($color: grey, $amount: 40%);
    display: flex;
    width: 370px;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
}

.todo-header {
    background-color: darken($color: grey, $amount: 20%);
    justify-content: space-between;
    display: flex;
    width: 370px;
    margin: 10px auto;
    padding: 10px;
}